/ForlationGame/.vscode
/ForlationGame/.vs
/ForlationGame/Library
/ForlationGame/Logs
/ForlationGame/obj
/ForlationGame/Assembly-CSharp.csproj
/ForlationGame/Assembly-CSharp-Editor.csproj
/ForlationGame/ForlationGame.sln
/ForlationGame/Assets/XLua/Gen
/ForlationGame/Assets/LuaIde
/ForlationGame/Assets/StreamingAssets
/ForlationGame/Temp
